@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --opacity: 0.5;
  --angle: 0deg;
}

@keyframes sway {
  0% {
    transform: rotate(0);
    animation-timing-function: ease-in-out;
  }
  10% {
    transform: rotate(-12deg);
    animation-timing-function: ease-in-out;
  }
  30% {
    transform: rotate(8deg);
    animation-timing-function: ease-in-out;
  }
  45% {
    transform: rotate(-4deg);
    animation-timing-function: ease-in-out;
  }
  60% {
    transform: rotate(2deg);
    animation-timing-function: ease-in-out;
  }
  70% {
    transform: rotate(-0.1deg);
    animation-timing-function: ease-in-out;
  }
  75% {
    transform: rotate(0.05deg);
    animation-timing-function: ease-in-out;
  }
  80% {
    transform: rotate(0);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: rotate(0);
  }
}

.bounce {
  animation: bounce 2s ease infinite;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-8px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.sway {
  animation: sway 5s linear infinite;
  transform-origin: 50% -32px;
}

.sketchy {
  border: 3px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  letter-spacing: 0.3ch;
}

.clips {
  background-image: url("/images/bg-beautiful.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.heart {
  --c: red;
  aspect-ratio: 1;
  background: radial-gradient(at 70% 31%, var(--c) 29%, #0000 30%),
    radial-gradient(at 30% 31%, var(--c) 29%, #0000 30%),
    linear-gradient(var(--c) 0 0) bottom/100% 50% no-repeat;
  clip-path: polygon(-43% 0, 50% 91%, 143% 0);
}

.postcard {
  background-image: url("/images/postcard.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .postcard {
    background-image: linear-gradient(
      to right top,
      rgba(209, 107, 165, 0.5),
      rgba(199, 119, 185, 0.5),
      rgba(186, 131, 202, 0.5),
      rgba(170, 143, 216, 0.5),
      rgba(154, 154, 225, 0.5),
      rgba(138, 167, 236, 0.5),
      rgba(121, 179, 244, 0.5),
      rgba(105, 191, 248, 0.5),
      rgba(82, 207, 254, 0.5),
      rgba(65, 223, 255, 0.5),
      rgba(70, 238, 250, 0.5),
      rgba(95, 251, 241, 0.5)
    );
  }
}

.scale-up {
  animation: scale-up linear;
  animation-timeline: scroll();
}
.fade-in {
  animation: fade-in linear;
  animation-timeline: scroll();
}

@keyframes scale-up {
  from {
    scale: 0.6;
  }
  to {
    scale: 1;
  }
}

@keyframes fade-in {
  from {
    scale: 0.6;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
